@import "src/styles/_global.scss";

.app {
  height: 100%;
  display: flex;
  flex-direction: column;

  .form-title {
    display: flex;
    align-items: center;
    padding: $spacing;
    padding-bottom: 0;

    .icon {
      width: 20px;
      height: 20px;
    }

    .title {
      font-weight: 700;
      font-size: 14px;
      margin-right: calc($spacing / 2);
    }
  }

  .toman-sufix {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: $gray-color;
    padding: 0 calc($spacing / 2);
  }

  .main-form {
    padding: $spacing;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .button-wrapper {
      margin-top: $spacing;
    }
  }

  .primary-text {
    color: $primary-color;
  }
}
